/*--基础css--*/
@charset "utf-8";
@font-face{
    font-family:klt;
    src:url("../font/zzklt.ttf");
}
@font-face{
    font-family:redf;
    src:url("../font/MyriadPro.ttf");
}

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	color: #666;
}
html,body,.hunsty{
	width:100%;
	height:100%;
}
.liantong-point .liantong-desc {
    color: #708eaf;
    font-size:.36rem;
    margin-top: .213333rem;
    text-decoration: underline;
}
button {
	outline: none
}

a, address, b, big, blockquote, body, center, cite, code, dd, del, div,
	dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i,
	iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u,
	ul, var, button, input, textarea {
	margin: 0;
	padding: 0
}

fieldset, img, input, button {
	border: 0;
	outline-style: none
}

input {
	font-family: "Helvetica", " Microsoft YaHei";
	font-size: 14px
}

select, input {
	vertical-align: middle
}

select, input, textarea {
	font-size: 14px;
	outline: 0;
	resize: none
}

div{
	box-sizing:border-box;
}
img {
	border: 0;
	vertical-align: middle
}
button::-moz-focus-inner {
	margin: 0;
	padding: 0 0 2px;
	border: 0
}
*, *:before, *:after {
	box-sizing: inherit
}
.clearfix { *+
	height: 1%
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.hidden {
	display: none;
}
.onre{position: relative;}
.abso{position:absolute;}
.vercen{
	display: flex;
	align-items: center;
	justify-content: center;
}
.self_area{
	width:100%;height:auto;
}

.login{
	background: url(../img/index.png);
	background-size:100% 100%;
	overflow: hidden;
}
.wins{
	left:6%;bottom:10%;
	width:88%;height:auto;
	padding:7% 5%;
	border-radius:2px;
	background:#e7f7f8;
}
.resu{
	left: 6%;bottom: 3.5%;
    width: 89%;height: 93%;
	border-radius:2px;
}
.innresu{
	left:0;top:0;
 	padding: 10.5% 8% 6%;
 	z-index: 10000;
}
.onetitle{
	width:100%;
	color:#000;
	font-size:.48rem;
	font-weight:550;
}
.onetext{
	width:100%;
	color: #000000cc;
	padding-left:.8rem;
	/* padding-bottom: 3.6rem; */
	font-size:.36rem;
	font-weight:500;
	padding-top:.66rem;
	line-height: .56rem;
}
._onetext{
	width:100%;
	color: #000000cc;
	padding-left:.4rem;
	/* padding-bottom: 3.6rem; */
	font-size:.36rem;
	font-weight:500;
	padding-top:.66rem;
	line-height: .56rem;
}
.putwrap .onetext{
	/*display:flex;*/
}
.chock{
	/*display:none;*/
}
.chock{
	left:0;
	width:.8rem;
	display:inline-block;
	flex-grow: 0;
	padding:.12rem .2rem 0;
}
.putwrap .chtext{
	font-size: .4rem;
	color:#737373;
}
.choarea{
	width:.36rem;height:.36rem;
	border:1px solid #737373;
	border-radius:2px;
	font-size:.3rem;
	color:#737373;
}
.onebtn{
	left:0;bottom:7%;
	width:100%;height:auto;
	color:#fff;
	text-align: center;
	padding-top:1.2rem;
}
._onebtn{
	padding-top:.2rem;
	text-align: center;
}
.btninn{
	padding:.28rem 0;
	font-size:.38rem;
	letter-spacing: 1px;
	background:#27ba69;
}
.result{
	color:#000;
	padding-top:1rem;
	font-size:.412rem;
	line-height: .7rem;
}
.keyword{
	color:#ff5816;
}

.putwrap .onetitle{
	display: none;
}
.putarea{
	display:none;
	width:100%;height:auto;
}
._putarea{
	display:block;
	width:100%;height:auto;
}
.putwrap .putarea{
	display:block;
	padding-top:.4rem;
}
.inpwrap{
	width:100%;height:1rem;
	border:1px solid #9e9e9e;
	border-radius:4px;
	overflow: hidden;
}
.inplab{
	left:0;top:0;
	width:14%;
	height:100%;width:auto;
	line-height:.96rem;
	padding:0 .2rem;
}
.inplab img{
	height:66%;width:auto;
}
.inparea{
	float:right;
	width:100%;
	/*width:85%;*/
	height:100%;
}
.realinp{
	width:100%;height:100%;
	padding-left:.2rem;
	padding-right:.2rem;
	font-size: .36rem;
	color:#797575;
	background: rgba(255,255,255,0);
}
.secnum{
	width:55%;
	margin-top:.3rem;
}
.numarea{
	top:0;right:0;
	width:40%;height:100%;
	color:#fff;
	border-radius:4px;
	/*background:#3163e5;*/
	background:#fdab65;
}
.hasecond{
	background: gray;
}
.abtips{
	top:26%;left:0;
	width:100%;height:auto;
	text-align: center;
	z-index: 100;
	font-size:.34rem;
}
.realtips{
	min-width:60%;height:auto;
	padding:.26rem .44rem;;
	color:#fff;
	border-radius:4px;
	background:rgba(0,0,0,.7);
}
.seartime{
	padding-top:.7rem;
	font-size:.34rem;
	color:#888d8d;
}

/*----*/
.numtips{
	z-index:10
	left:15%;
	/*top:15%;*/
	top:22%;
	width:70%;height:auto;
	padding:.3rem .46rem;
	text-align:center;
	border-radius:4px;
	color:#fff;
	background:rgba(0,0,0,.6);
}
.numtips p{
	font-size: .4rem;
}
.numtips>div{
	/*padding-top:.2rem;*/
	font-size:.36rem;
}
.cank{
	color:gray;
}
.datared{
	color:red;
}
.datagre{
	color:green;
}
.dataorg{
	color:orange;
}

/*--水印样式--*/
.water{overflow: hidden;}
.wline{
	width:100%;
}
.wson{
	pointer-events: none;
	float: left;
    opacity: 0.4;
    font-size: 0.4rem;
	transform: rotate(-15deg);
	white-space: nowrap;
	color: rgb(170, 170, 170,.9);
}

/*--新版结果页样式--*/
.per_state{
	font-size:.48rem;
	line-height: .76rem;
}
.intips{
	padding-top:.16rem;
	font-size:.44rem;
	color:#000;
	line-height: .8rem;
}
.betip{
	padding-top: .8rem;
	font-size: .34rem;
	color:#545656;
}

.codearea{
 width:100%;height:30%;
 margin-bottom:17%;
 text-align: center;
}
.codearea img{height:80%;width:auto;}
.detext{
 padding:0 5%;
 font-size: .32rem;
 color:#747474;
}
.bebot{
 padding-right:5%;
 margin-top: 4%;
 font-size: .34rem;
 text-align: right;
 color:#181818;
}

.lcodewrap,.inlcode{
	display:inline-block;width:auto;height:100%;
}
.gifpoint{
	right: -330%;
    top: -25%;
    height: 20% !important;
    width: auto !important;
    transform: rotate(-45deg);
    z-index: 100;
	/*right:57%;top:0;
	/* right: -73%;
    top: 91%; 
    height: 15% !important;
    width: auto !important;
    transform: rotate(-45deg);
    z-index: 100;*/
    display: none;
}
.lcode{
	top: 0;left:50%;
    transform: translateX(-50%);
	height: 100%;
    font-size: .4rem;
}
.gg{
	left: 0;
    bottom: 0;
    width: 100%;height:1.76rem;
}
.gg img{
	width:100%;height:auto;
}


.halft{
	float:left;
	width:50%;height:1.4rem;
}
.halfl{
	font-size:.34rem;
	line-height:1.6rem;
}
.maxname{
	font-size:.6rem;
	color:#4ea970;
	font-weight: 500;
}
.vhalf{
	width:100%;height:50%;
	line-height:.7rem;
	font-size:.34rem;
}
.minbol{
	font-weight:bolder;
}

.inlcode{
	width:100%;
}
b.abso{
	top:50%;
	left:16%;
	/* left:0; */
	transform: translateY(-50%);
	width:.4rem;
	height:auto;
	/* width:auto; */
	font-size:.32rem;
	z-index:10;
}
.liheimg{
	height:6.5%;width:100%;
	text-align:center;
}
.liheimg img{height:100%;width:auto;}

.timearea{
	margin-bottom:.24rem;
	max-height: 2.5rem;
	border-bottom:1px solid #e2dcdc;
	text-align:center;
}
.timetext{
	font-size: .9rem;
    color: #000;
    font-weight: bolder;
    letter-spacing: 3px;
}
